In [1]:
import sys
print (sys.version) #this should read as 3.6.13 |Anaconda, Inc.| (default, Mar 16 2021, 11:37:27) [MSC v.1916 64 bit (AMD64)]
                    #if not return to anacond environment installation steps

3.6.13 |Anaconda, Inc.| (default, Mar 16 2021, 11:37:27) [MSC v.1916 64 bit (AMD64)]

In [2]:
# this lets us use the figures interactively
%matplotlib notebook

import geopandas as gpd
from geopandas import GeoDataFrame

import pandas as pd
from shapely.geometry import Point
from shapely.geometry import Polygon

import json

import numpy as np

In [3]:
id_data = pd.read_csv('turtle/id_data.txt')
noid_data = pd.read_csv('turtle/noid_data.txt')

id_data.columns, noid_data.columns

(Index(['Number', 'Date', 'Time_code', 'Time', 'Name', 'ID_Type', 'Photo',
        'LAT', 'LONG', 'S_F_R', 'Number.1', 'H_V', 'D_T_C'],
       dtype='object'),
 Index(['Number', 'Date', 'Time_code', 'Time', 'Name', 'ID_Type', 'Photo',
        'LAT', 'LONG', 'S_F_R', 'Number.1', 'H_V', 'D_T_C'],
       dtype='object'))

In [4]:
#pd.options.display.max_rows = 999
#id_data.LONG

In [5]:
id_data['geometry'] = list(zip(id_data['LONG'], id_data['LAT']))
id_data['geometry'] = id_data['geometry'].apply(Point)
noid_data['geometry'] = list(zip(id_data['LONG'], noid_data['LAT']))
noid_data['geometry'] = noid_data['geometry'].apply(Point)

In [6]:
id_gdf = gpd.GeoDataFrame(id_data)
id_gdf.set_crs("EPSG:32616", inplace=True)
id_gdf = id_gdf.drop(['LONG', 'LAT'], axis=1)
noid_gdf = gpd.GeoDataFrame(noid_data)
noid_gdf.set_crs("EPSG:32616", inplace=True)
noid_gdf = noid_gdf.drop(['LONG', 'LAT'], axis=1)

In [7]:
id_gdf.crs, noid_gdf.crs

(<Projected CRS: EPSG:32616>
 Name: WGS 84 / UTM zone 16N
 Axis Info [cartesian]:
 - E[east]: Easting (metre)
 - N[north]: Northing (metre)
 Area of Use:
 - name: World - N hemisphere - 90°W to 84°W - by country
 - bounds: (-90.0, 0.0, -84.0, 84.0)
 Coordinate Operation:
 - name: UTM zone 16N
 - method: Transverse Mercator
 Datum: World Geodetic System 1984
 - Ellipsoid: WGS 84
 - Prime Meridian: Greenwich,
 <Projected CRS: EPSG:32616>
 Name: WGS 84 / UTM zone 16N
 Axis Info [cartesian]:
 - E[east]: Easting (metre)
 - N[north]: Northing (metre)
 Area of Use:
 - name: World - N hemisphere - 90°W to 84°W - by country
 - bounds: (-90.0, 0.0, -84.0, 84.0)
 Coordinate Operation:
 - name: UTM zone 16N
 - method: Transverse Mercator
 Datum: World Geodetic System 1984
 - Ellipsoid: WGS 84
 - Prime Meridian: Greenwich)

In [8]:
id_gdf.to_file('turtle/id_points.shp') #save the GeoDataFrame as a new .shp file
noid_gdf.to_file('turtle/noid_points.shp')

rows, cols = id_gdf.shape #display total number of rows
print('id_gdf Number of indentified turtle sightings:{}'.format(rows))
rows, cols = noid_gdf.shape
print('noid_gdf Number of unidentified turtle sightings:{}'.format(rows))

id_gdf Number of indentified turtle sightings:625
noid_gdf Number of unidentified turtle sightings:114

In [9]:
id_points = gpd.read_file('turtle/id_points.shp') #start work with the shape file
noid_points = gpd.read_file('turtle/noid_points.shp')

In [10]:
rows, cols = id_points.shape
print('id points columns:{}'.format(cols))
rows, cols = noid_points.shape
print('noid points columns:{}'.format(cols))

id points columns:12
noid points columns:12

In [11]:
id_points

,Number,Date,Time_code,Time,Name,ID_Type,Photo,S_F_R,Number.1,H_V,D_T_C,geometry
0,2,12/03/2009,1,09:23,FRANKIE,HEAD,IMG_0002/3,F,NaN,None,None,POINT (-87.31372 20.39438)
1,4,12/03/2009,1,09:25,ANGEL,HEAD,IMG_0004,R,NaN,None,None,POINT (-87.31385 20.39470)
2,5,12/03/2009,1,09:25,AMAPOLA,HEAD,IMG_0005,R,NaN,None,None,POINT (-87.31385 20.39470)
3,6,12/03/2009,1,09:34,LIZ,HEAD,IMG_0007/8,F,10.0,V/H,None,POINT (-87.31383 20.39420)
4,7,12/03/2009,1,09:38,ZIGGY,HEAD,IMG_0011,S,NaN,None,None,POINT (-87.31328 20.39377)
...,...,...,...,...,...,...,...,...,...,...,...,...
620,812,02/07/2009,3,17:31,WINSTON,HEAD,IMG_1416,F,NaN,None,None,POINT (-87.31367 20.39415)
621,813,02/07/2009,3,17:33,LENNON,HEAD,IMG_1417,F,NaN,None,None,POINT (-87.31365 20.39397)
622,814,02/07/2009,3,17:35,VEX,HEAD,IMG_1419/20,F,NaN,None,None,POINT (-87.31385 20.39407)
623,815,02/07/2009,3,17:36,RODDY,HEAD,IMG_1421/22,F,2.0,H,None,POINT (-87.31388 20.39413)
624,816,02/07/2009,3,17:39,DAMA,L PROFILE,IMG_1423-25,F,NaN,None,None,POINT (-87.31428 20.39472)

In [12]:
id_points.geometry

0      POINT (-87.31372 20.39438)
1      POINT (-87.31385 20.39470)
2      POINT (-87.31385 20.39470)
3      POINT (-87.31383 20.39420)
4      POINT (-87.31328 20.39377)
                  ...
620    POINT (-87.31367 20.39415)
621    POINT (-87.31365 20.39397)
622    POINT (-87.31385 20.39407)
623    POINT (-87.31388 20.39413)
624    POINT (-87.31428 20.39472)
Name: geometry, Length: 625, dtype: geometry

In [20]:
id_points[id_points['Name'] == 'FRANKIE']
print('id points FRANKIE:{}'.format(rows))

id points FRANKIE:114

In [29]:
#id_points[id_points['Name'] == 'FRANKIE']
#FRANKIE = id_points[id_points['Name'] == 'FRANKIE']
#FRANKIE[id_points ['D_T_C'] == 'D']
#print('FRANKIE foraging:{}'.format(rows))

FRANKIE foraging:114

In [15]:
is_diving = id_points['D_T_C'] =='D'
is_touching = id_points['D_T_C'] =='T'
is_chasing = id_points['D_T_C'] =='C'

diving = id_points[is_diving]
touching = id_points[is_touching]
chasing = id_points[is_chasing]

is_forage = id_points['S_F_R'] =='F'
is_swim = id_points['S_F_R'] =='S'
is_rest = id_points['S_F_R'] =='R'

forage = id_points[is_forage]
swim = id_points[is_swim]
rest = id_points[is_rest]

is_time1 = id_points['Time_code'] =='1'
is_time2 = id_points['Time_code'] =='2'
is_time3 = id_points['Time_code'] =='3'
time1 = id_points[is_time1]
time2 = id_points[is_time2]
time3 = id_points[is_time3]

print(is_diving.head()), print(is_chasing.head()), print(is_touching.head()), 
print(diving.count()), print(touching.count()), print(chasing.count())

print(is_forage.head()), print(is_swim.head()), print(is_rest.head()),
print(forage.count()), print(swim.count()), print(rest.count())

print(is_time1.head()), print(is_time2.head()), print(is_time3.head()),
print(time1.count), print(time2.count), print(time3.count)

0    False
1    False
2    False
3    False
4    False
Name: D_T_C, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: D_T_C, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: D_T_C, dtype: bool
Number       5
Date         5
Time_code    5
Time         5
Name         5
ID_Type      5
Photo        5
S_F_R        5
Number.1     5
H_V          2
D_T_C        5
geometry     5
dtype: int64
Number       4
Date         4
Time_code    4
Time         4
Name         4
ID_Type      4
Photo        4
S_F_R        4
Number.1     4
H_V          4
D_T_C        4
geometry     4
dtype: int64
Number       2
Date         2
Time_code    2
Time         2
Name         2
ID_Type      2
Photo        2
S_F_R        2
Number.1     2
H_V          2
D_T_C        2
geometry     2
dtype: int64
0     True
1    False
2    False
3     True
4    False
Name: S_F_R, dtype: bool
0    False
1    False
2    False
3    False
4     True
Name: S_F_R, dtype: bool
0    False
1     True
2     True
3    False
4    False
Name: S_F_R, dtype: bool
Number       395
Date         395
Time_code    395
Time         395
Name         395
ID_Type      393
Photo        385
S_F_R        395
Number.1      33
H_V           27
D_T_C         10
geometry     395
dtype: int64
Number       187
Date         187
Time_code    187
Time         187
Name         187
ID_Type      185
Photo        183
S_F_R        187
Number.1      15
H_V           12
D_T_C          3
geometry     187
dtype: int64
Number       32
Date         32
Time_code    32
Time         32
Name         32
ID_Type      32
Photo        32
S_F_R        32
Number.1      0
H_V           0
D_T_C         0
geometry     32
dtype: int64
0    False
1    False
2    False
3    False
4    False
Name: Time_code, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: Time_code, dtype: bool
0    False
1    False
2    False
3    False
4    False
Name: Time_code, dtype: bool
<bound method DataFrame.count of Empty GeoDataFrame
Columns: [Number, Date, Time_code, Time, Name, ID_Type, Photo, S_F_R, Number.1, H_V, D_T_C, geometry]
Index: []>
<bound method DataFrame.count of Empty GeoDataFrame
Columns: [Number, Date, Time_code, Time, Name, ID_Type, Photo, S_F_R, Number.1, H_V, D_T_C, geometry]
Index: []>
<bound method DataFrame.count of Empty GeoDataFrame
Columns: [Number, Date, Time_code, Time, Name, ID_Type, Photo, S_F_R, Number.1, H_V, D_T_C, geometry]
Index: []>

(None, None, None)

In [16]:
print(diving.count()), print(touching.count()), print(chasing.count()), print(forage.count()), print(swim.count()), print(rest.count()), print(time1.count()), print(time2.count()), print(time3.count())

Number       5
Date         5
Time_code    5
Time         5
Name         5
ID_Type      5
Photo        5
S_F_R        5
Number.1     5
H_V          2
D_T_C        5
geometry     5
dtype: int64
Number       4
Date         4
Time_code    4
Time         4
Name         4
ID_Type      4
Photo        4
S_F_R        4
Number.1     4
H_V          4
D_T_C        4
geometry     4
dtype: int64
Number       2
Date         2
Time_code    2
Time         2
Name         2
ID_Type      2
Photo        2
S_F_R        2
Number.1     2
H_V          2
D_T_C        2
geometry     2
dtype: int64
Number       395
Date         395
Time_code    395
Time         395
Name         395
ID_Type      393
Photo        385
S_F_R        395
Number.1      33
H_V           27
D_T_C         10
geometry     395
dtype: int64
Number       187
Date         187
Time_code    187
Time         187
Name         187
ID_Type      185
Photo        183
S_F_R        187
Number.1      15
H_V           12
D_T_C          3
geometry     187
dtype: int64
Number       32
Date         32
Time_code    32
Time         32
Name         32
ID_Type      32
Photo        32
S_F_R        32
Number.1      0
H_V           0
D_T_C         0
geometry     32
dtype: int64
Number       0
Date         0
Time_code    0
Time         0
Name         0
ID_Type      0
Photo        0
S_F_R        0
Number.1     0
H_V          0
D_T_C        0
geometry     0
dtype: int64
Number       0
Date         0
Time_code    0
Time         0
Name         0
ID_Type      0
Photo        0
S_F_R        0
Number.1     0
H_V          0
D_T_C        0
geometry     0
dtype: int64
Number       0
Date         0
Time_code    0
Time         0
Name         0
ID_Type      0
Photo        0
S_F_R        0
Number.1     0
H_V          0
D_T_C        0
geometry     0
dtype: int64

(None, None, None, None, None, None, None, None, None)

In [17]:
noid_points = noid_points['Photo'] == 'IMG*'
print(noid_points.head())

0    False
1    False
2    False
3    False
4    False
Name: Photo, dtype: bool

In [18]:
import arcpy
arcpy.env.workspace = "C:/Users/jrllo/OneDrive/Documents/GitHub/egm722/Assignment/data/turtle/turtle_check.gdb"

ImportError: DLL load failed: The specified procedure could not be found.

In [ ]:
# Name: Near.py
# Description: Finds nearest features from input feature class to near feature class.

import arcpy

# Set workspace environment
arcpy.env.workspace = "C:/data/city.gdb"

try:
    # set local variables
    in_features = "houses"
    near_features = "parks"
    
    # find features only within search radius
    search_radius = "5000 Meters"
    
    # find location nearest features
    location = "LOCATION"
    
    # avoid getting angle of neares features
    angle = "NO_ANGLE"
    
    # execute the function
    arcpy.Near_analysis(in_features, near_features, search_radius, location, angle)
    
    # get geoprocessing messages
    print(arcpy.GetMessages())

except arcpy.ExecuteError:
    print(arcpy.GetMessages(2))
    
except Exception as err:
    print(err.args[0])

In [ ]:
time2_f = forage swim rest diving touching chasing time1 time2 time3 [tod2]
print(tod2_f.head())

In [ ]:
id_points[id_points['Name'] == 'FRANKIE']

In [ ]:
coral_patch1 = gpd.read_file('coral/corala_poly.shp') 
coral_patch2 = gpd.read_file('coral/coralb_poly.shp')
coral_patch3 = gpd.read_file('coral/coralc_poly.shp')

In [ ]:
frankie_clip = gpd.read_file('turtle/id_points.shp')
frankieid_points[id_points['Name'] == 'FRANKIE']
frankie_clip.groupby(['Name', 'S_F_R', 'H_V', 'D_T_C'])
clipped = []
for frankie in id_points['Name'].unique():
    tmp_clip = gpd.clip(coral_patch1, id_points[id_points['Name'] == FRANKIE])
    #for i, row in tmp_clip.iterrows():